body {
    /* min-width: 600px; */
    /* min-height: 200px; */
}
button{
    padding: 5px;
    background: transparent;
    border-radius: 5px;
}
button:hover{
    background: #f5f5f5;
}
.popup-padded {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
#root{
    margin: auto;
    width: 600px;
    height: 400px;
}